*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    z-index: 2;
}

body{
    /* background: url(imgs/darkClouds.jpeg) center no-repeat;
    background-size: cover;
    min-height: 100vh; */
    /* z-index: 1; */
}

/* body::after{
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(105, 102, 102, 0.4);
    background-size: cover;
    z-index: -1;
    opacity: .6;
} */

header{
    min-height: 100%;
    position: relative;
    color: white;
}
header::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(105, 102, 102, 0.4);
    background-size: cover;
    z-index: 0;
    opacity: .6;
}

.wrapper{
    padding:30px;
    min-height: 100%;
    /* display: flex;
    flex-direction: column; */

}

.wrapper::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background: url(imgs/wave-small.png) no-repeat;
    z-index: 1;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    /* text-shadow: 4px 0px 2px rgba(10, 25, 20, 1); */
}

header input{
    margin-top:20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
    color: black;
}

.searchBtn{
    padding:12px 30px;
    margin-top: 20px;
    border-radius: 10rem;
    border: none;
    font-size: 20px;
    color: rgb(48, 112, 114);
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: .15rem;
    cursor: pointer;
    opacity: .8;
}
.temperature-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40%;
    border-bottom: 2px solid rgba(255,255,255,.5);
}

.temperature-area h2{
    font-size: 100px;
    /* font-family: 'Roboto Mono', monospace; */
    font-stretch: expanded;
    font-weight: 300;
}
.restParametrs{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.parametr{
    margin:10px 0;
}

.parametr > h3{
    font-family: 'Roboto Mono', monospace;
}

main{
    /* height: 300px; */
    width: 100%;
    font-size: 30px;
    /* background-color: aliceblue; */
    position: relative;
}

.hourly-weather-container{
    padding: 30px;
    /* min-height: 100%; */
}

.hourly-weather > .hourly-weather-container > h5{
    padding-bottom:8px;
    font-size: 15px;
    color: rgb(182, 97, 97);
    border-bottom:  2px solid cadetblue ;
}

.hour-flex{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.hour{
    text-align: center;
    width: 33.3%;
    padding: 10px 0;
}
.days-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
    color: cadetblue;

}
.day{
    padding: 30px 0;
    margin:0 10%;
    border-bottom: 2px solid rgba(95, 158, 160, 0.623);
}

.day:nth-of-type(3){
    border-bottom: none;
}

.day > h4{
    font-size: 40px;
    color: rgb(182, 97, 97);
}

.weather{
    margin-top: 20px;
    font-size: 54px;
}

.weather > i{
    font-size: 70px;
}

.weather > h5{
    margin-top: 14px;
}

@media(min-width:406px){
    .wrapper::before{
        height: 10%;
        background: url(imgs/wave-medium.png) no-repeat;
    }
}

@media(min-width:806px){
    .wrapper::before{
        background-size: cover;
        height: 12%;
        /* background: url(imgs/wave-medium.png) no-repeat; */
    }
    .days-grid{
        padding: 100px 0;
    }

}

@media(min-width:857px){
    .day{
        border-bottom: none;
        border-right: 2px solid rgba(95, 158, 160, 0.623);
        padding: initial;
        margin: initial;
    }

    .day:nth-of-type(2){
        border: none;
    }
}


@media(min-width:1300px){
    .day{
        border-bottom: none;
        border-right: 2px solid rgba(95, 158, 160, 0.623);
        padding: initial;
        margin: initial;
    }
    .day:nth-of-type(2){
        border-right: 2px solid rgba(95, 158, 160, 0.623);

    }
    .day:nth-of-type(3){
        border: none;
    }
}

@media(min-width:1004px){
    .wrapper::before{
        /* background-size: cover; */
        height: 21%;
        background: url(imgs/wave-large.png) no-repeat;
    }
    .wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .header{
        width: 100%;
    }
    .header h1{
        font-size: 70px;
    }
    .temperature-area{
        width: 50%;
        flex-grow: 1;
        align-items: center;
        justify-content: initial;
        border-bottom: none;
        border-right: 2px solid rgba(255,255,255,.5);
        height: initial;
        margin-bottom: 30px;
    }
    .temperature-area h2{
        font-size: 200px;
    }
    .restParametrs{
        font-size: 20px;
        width: 50%;
        margin-top: 0;
        flex-grow: 1;
        align-items: center;
    }

    header input{
        width: 50%;
    }
}